/*--------------------------------------------------------------
    Colour Palette
--------------------------------------------------------------*/

$primary: #488bde; // Blue
$secondary: #333; // Grey
$tertiary: #86bcff; // Light Blue

$txtPrimary: #000;
$txtSecondary: #fff;